@font-face {
	font-family: NeonTubes;
	font-display: swap;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/15664/NeonTubes.otf") format("opentype");
}

html, body { height: 100%; }

body {
	background: #1e1f26;
	color: #fff;
	font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
	overflow-x: hidden;
	margin: 0;
	&::after {
		content: 'One sec...';
		font-size: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		visibility: visible;
		transition: opacity .5s, visibility .5s;
	}
}

.pick {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
}
.wf-neontubes-n4-active {
	body::after {
		opacity: 0;
		visibility: hidden;
	}
	.pick {
		opacity: 1;
		visibility: visible;
	}
}

.title {
	font-family: NeonTubes, sans-serif;
	text-transform: uppercase;
	margin: 0 0 32px;
	color: rgb(255, 240, 240);
	font-size: 60px;
	text-shadow: 0 0 40px rgb(255, 4, 4), 0 0 20px rgb(255, 4, 4);
	.blue {
		color: rgb(240, 250, 255);
		text-shadow: 0 0 40px rgb(0, 180, 255), 0 0 20px rgb(0, 180, 255);
		margin-left: 16px;
	}
}

@keyframes centerRotate {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.input-submit-wrapper {
	background: #fff;
	border-radius: 999px;
	overflow: hidden;
	white-space: nowrap;
	input {
		background: none;
		border: none;
		padding: 0 16px;
		margin: 0;
		height: 40px;
		width: 400px;
		max-width: calc(100vw - 96px);
		font-size: 16px;
		vertical-align: middle;
		transition: opacity .2s;
	}
	button {
		background: #fff;
		border: none;
		border-left: 1px solid #aaa;
		padding: 0;
		margin: 0;
		height: 40px;
		width: 48px;
		cursor: pointer;
		position: relative;
		vertical-align: middle;
		overflow: hidden;
		color: transparent;
		&::before, &::after {
			content: '👌';
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #000;
			transition: top .2s;
		}
		&::after {
			content: '';
			margin-top: 40px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			box-sizing: border-box;
			border: 2px solid transparent;
			border-top-color: #1e1f26;
			border-left-color: #1e1f26;
			animation: centerRotate 1s cubic-bezier(.5,.3,.5,.7) infinite;
		}
	}
}

.history {
	position: absolute;
	bottom: 0;
	right: 0;
	&:not(:empty)::before {
		content: 'History:';
	}
	.line {
		cursor: pointer;
		margin: 8px;
	}
	.avatar, .rank, .name {
		display: inline-block;
		vertical-align: middle;
	}
	.avatar {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: center / cover no-repeat;
	}
	.rank {
		margin: 0 4px;
		&::before {
			content: '#';
			color: #aaa;
		}
	}
}

#user-fetch-info {
	overflow: hidden;
	max-height: 0;
	line-height: 24px;
	white-space: nowrap;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0 16px;
	transition: max-height .2s;
}

#user.loading {
	#user-fetch-info { max-height: 24px; }
	.input-submit-wrapper {
		input { opacity: 0.5; }
		button {
			&::before, &::after {
				top: -20px;
			}
		}
	}
}

@keyframes invalid {
	from, to {
		background: #fff;
		transform: translateX(0);
	}
	16% {
		transform: translateX(0);
	}
	2%, 10%, 14% {
		transform: translateX(-4px);
	}
	6% {
		background: #fbb;
		transform: translateX(-4px);
	}
	4%, 8%, 12% {
		transform: translateX(4px);
	}
}
#user.invalid .input-submit-wrapper {
	animation: invalid 3s;
}

.results {
	display: none;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-16px);
	transition: opacity .5s, visibility .5s, transform .5s;
}

.step-results {
	.pick {
		opacity: 0;
		visibility: hidden;
	}
	.results {
		display: block;
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition-delay: .5s;
	}
}

.player {
	text-align: center;
	padding: 32px 0;
	.avatar {
		width: 64px;
		height: 64px;
		display: inline-block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 50%;
		vertical-align: middle;
	}
	.infos-list {
		display: inline-block;
		padding-left: 16px;
		vertical-align: middle;
		text-align-last: left;
	}
	.name-container {
		white-space: nowrap;
		font-size: 24px;
		line-height: 32px;
	}
	.flag {
		width: 16px;
		height: 12px;
		display: inline-block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		vertical-align: middle;
	}
	.name {
		display: inline-block;
		vertical-align: middle;
		max-width: 400px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.performance {
		line-height: 24px;
	}
	.rank {
		&::before {
			content: '#';
			color: #aaa;
		}
	}
	.sep {
		color: #666;
		&::before { content: ' - '; }
	}
	.pp {
		&::after {
			content: 'pp';
			color: #aaa;
		}
	}
}

#show-help { display: none; }
.help-btn {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	margin: 8px;
}
.top-left-buttons {
	position: absolute;
	top: 0;
	left: 0;
}
#back, #refresh {
	cursor: pointer;
	margin: 8px;
	appearance: none;
	background: none;
	border: none;
	padding: 0;
	color: inherit;
	font: inherit;
	outline: none;
	&:focus {
		color: #8ef;
	}
}
#refresh {
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 100%;
		color: #000;
		transition: margin .2s, opacity .2s, visibility .2s;
		margin-left: 16px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		box-sizing: border-box;
		border: 2px solid transparent;
		border-top-color: #eee;
		border-left-color: #eee;
		animation: centerRotate 1s cubic-bezier(.5,.3,.5,.7) infinite;
		opacity: 0;
		visibility: hidden;
		margin-top: -8px;
	}
}
.refreshing {
	#refresh::after {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
	}
}

#help {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .8);
	}
	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #2c3e50;
		max-width: 90vw;
		max-height: 90vh;
		width: 800px;
		height: 400px;
		border-radius: 4px;
		overflow: auto;
		padding: 16px;
		box-sizing: border-box;
	}
	.question {
		font-size: 20px;
		&::before { content: '> '; }
	}
	.answer {
		padding-left: 16px;
		margin: 8px 0;
		+ .question { margin-top: 24px; }
	}
	.curve-wrapper {
		position: relative;
		display: inline-block;
		&:hover #export-curve {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	#export-curve {
		position: absolute;
		top: 0;
		right: 0;
		background: #2c3e50;
		color: #fff;
		border: 1px solid #aaa;
		border-radius: 3px;
		padding: 4px 8px;
		cursor: pointer;
		transition: opacity .15s, visibility .15s, transform .15s;
		opacity: 0;
		visibility: hidden;
		transform: translateX(4px);
	}
	.sort-name {
		margin-top: 8px;
		font-weight: bold;
		&::before { content: '- '; }
	}
	.sort-desc {
		padding-left: 16px;
	}
}
.step-results #show-help:checked ~ #help {
	opacity: 1;
	visibility: visible;
}

.lists {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: -24px;
	min-height: 24px;
}

@keyframes playlist {
	from, 5% {
		transform: scale(1) rotate(0deg);
	}
	8%, 12%, 16%, 20%, 24%, 28% {
		transform: scale(2) rotate(4deg);
	}
	10%, 14%, 18%, 22%, 26%, 30% {
		transform: scale(2) rotate(-4deg);
	}
	60%, 64%, 68%, 72%, 76%, 80% {
		transform: scale(1.7) rotate(0deg);
	}
	32%, 58%, 62%, 66%, 70%, 74%, 78%, 82%, 88% {
		transform: scale(2) rotate(0deg);
	}
	90%, 92% {
		transform: scale(2) rotate(360deg);
	}
	95%, to {
		transform: scale(1) rotate(360deg);
	}
}

@keyframes playlistInfo {
	from, to {
		visibility: hidden;
		opacity: 0;
		transform: scale(.8) translate(4px, -2px);
	}
	5%, 95% {
		visibility: visible;
		opacity: 1;
		transform: scale(1) translate(0, 0);
	}
}

.list {
	display: inline-block;
	flex: 1 1 auto;
	min-width: 200px;
	max-width: 800px;
	height: calc(100vh - 128px);
	display: flex;
	flex-flow: column nowrap;
	margin: 24px 4px 0;
	.playlist {
		display: inline-block;
		position: relative;
		width: 22px;
		height: 22px;
		vertical-align: middle;
		margin-left: 8px;
		border: none;
		background: none;
		padding: 0;
		cursor: pointer;
		outline: none;
		&::before {
			content: '';
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			background: center / contain no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M15,6H3V8H15V6M15,10H3V12H15V10M3,16H11V14H3V16M17,6V14.18C16.69,14.07 16.35,14 16,14A3,3 0 0,0 13,17A3,3 0 0,0 16,20A3,3 0 0,0 19,17V8H22V6H17Z' /%3E%3C/svg%3E");
		}
		&:focus::before {
			outline: rgb(229, 151, 0) auto 5px;
		}
	}
}
.unplayed .playlist {
	&::before {
		animation: playlist 7s 5s both;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 100%;
		width: 239px;
		height: 119px;
		transform-origin: bottom left;
		background: url("/client/playlist-info.png") center / contain no-repeat;
		pointer-events: none;
		animation: playlistInfo 8s 5s both;
		outline: none;
	}
}
.list-header {
	flex: 0 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}
.list-title {
	font-size: 24px;
	line-height: 32px;
}
.method-wrapper {
	position: relative;
	text-align: right;
}
.method {
	display: inline-block;
	position: relative;
	&::before { content: 'Sort: '; }
	select {
		font: inherit;
	}
	.unpause {
		position: absolute;
		top: 50%;
		right: 100%;
		appearance: none;
		background: center no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M8,5.14V19.14L19,12.14L8,5.14Z' /%3E%3C/svg%3E");
		border: none;
		width: 22px;
		height: 22px;
		margin-right: 4px;
		cursor: pointer;
		transition: transition .2s, opacity .2s, visibility .2s;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, -50%) translateY(-8px);
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 100%;
		color: #000;
		transition: margin .2s, opacity .2s, visibility .2s;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		box-sizing: border-box;
		border: 2px solid transparent;
		border-top-color: #eee;
		border-left-color: #eee;
		animation: centerRotate 1s cubic-bezier(.5,.3,.5,.7) infinite;
		opacity: 0;
		visibility: hidden;
		margin-top: -8px;
	}
}
.paused .method .unpause {
	opacity: 1;
	visibility: visible;
	transform: translate(0, -50%) translateY(0);
}
.compare-form, .rank-form {
	background: white;
	overflow: hidden;
	border-radius: 999px;
	margin: 0;
	max-height: 0;
	transition: margin .2s, max-height .2s;
}
.mathod-compare .compare-form, .method-rank .rank-form {
	margin: 4px 0;
	max-height: 24px;
}
.compare-input, .rank-input {
	height: 24px;
	padding: 0 8px;
	width: 144px;
	background: none;
	border: none;
	font-family: inherit;
	vertical-align: middle;
}
.compare-submit, .rank-submit {
	background: none;
	border: none;
	border-left: 1px solid #ddd;
	padding: 0;
	margin: 0;
	height: 24px;
	width: 28px;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	overflow: hidden;
	color: transparent;
	&:before {
		content: '👌';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #000;
		font-size: 12px;
	}
}
.list.loading .method::after {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
}
.list-content {
	flex: 0 1 auto;
	position: relative;
	width: 100%;
	min-height: 104px;
	// border: 2px solid #191919;
	border-radius: 4px;
	box-sizing: border-box;
	overflow: auto;
	&:empty::before {
		content: 'Nothing to show';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.element {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 8px 12px;
		background: #050c11;
		border-bottom: 1px solid #666;
		line-height: 21px;
		&:last-child {
			border-bottom: none;
		}
	}
	.left {
		flex: 1 1 auto;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}
	.middle {
		flex: 0 0 auto;
		text-align: center;
		margin: 0 16px;
	}
	.right {
		flex: 0 0 auto;
		text-align: right;
		min-width: 170px;
	}
	.pic {
		flex: 0 0 auto;
		width: 64px;
		height: 64px;
		margin-right: 8px;
		background: center / cover no-repeat;
	}
	.name-group {
		position: relative;
		flex: 1 1 auto;
		&::before {
			content: '.\A.';
			white-space: pre;
			visibility: hidden;
		}
	}
	.name-and-artist {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.mapper {
		position: absolute;
		top: 21px;
		left: 0;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.difficulty-and-score {
		white-space: nowrap;
	}
	.score-and-rank {
		margin-left: 4px;
		&::before {
			content: '(';
			color: #aaa;
		}
		&::after {
			content: ')';
			color: #aaa;
		}
	}
	.score {
		&::after {
			content: '%';
			color: #aaa;
		}
	}
	.rank {
		&::before {
			content: '#';
			color: #aaa;
		}
	}
	.sep {
		color: #666;
		&::before { content: ' - '; }
	}
	.pot-pp {
		.increase {
			margin-left: 4px;
			cursor: help;
			border-bottom: 1px dashed rgba(255, 255, 255, .3);
			&::before, &::after { color: #aaa; }
			&::before {
				content: '(+';
			}
			&::after {
				content: ')';
			}
		}
	}
	.expert-plus { color: #8f48db; }
	.expert { color: #bf2a42; }
	.hard { color: tomato; }
	.normal { color: #59b0f4; }
	.easy { color: MediumSeaGreen; }
	.important, .secondary, .links {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
	}
	.star-difficulty, .upvotes, .downvotes, .duration, .bpm, .notes, .obstacles {
		margin-left: 8px;
		&::before {
			content: '';
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
			background: center no-repeat;
			margin-right: 4px;
		}
	}
	.star-difficulty::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z' /%3E%3C/svg%3E");
	}
	.upvotes::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5,9V21H1V9H5M9,21A2,2 0 0,1 7,19V9C7,8.45 7.22,7.95 7.59,7.59L14.17,1L15.23,2.06C15.5,2.33 15.67,2.7 15.67,3.11L15.64,3.43L14.69,8H21C22.11,8 23,8.9 23,10V12C23,12.26 22.95,12.5 22.86,12.73L19.84,19.78C19.54,20.5 18.83,21 18,21H9M9,19H18.03L21,12V10H12.21L13.34,4.68L9,9.03V19Z' /%3E%3C/svg%3E");
	}
	.downvotes::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M19,15V3H23V15H19M15,3A2,2 0 0,1 17,5V15C17,15.55 16.78,16.05 16.41,16.41L9.83,23L8.77,21.94C8.5,21.67 8.33,21.3 8.33,20.88L8.36,20.57L9.31,16H3C1.89,16 1,15.1 1,14V12C1,11.74 1.05,11.5 1.14,11.27L4.16,4.22C4.46,3.5 5.17,3 6,3H15M15,5H5.97L3,12V14H11.78L10.65,19.32L15,14.97V5Z' /%3E%3C/svg%3E");
	}
	.duration::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z' /%3E%3C/svg%3E");
	}
	.bpm::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12,1.75L8.57,2.67L4.06,19.53C4.03,19.68 4,19.84 4,20C4,21.11 4.89,22 6,22H18C19.11,22 20,21.11 20,20C20,19.84 19.97,19.68 19.94,19.53L18.58,14.42L17,16L17.2,17H13.41L16.25,14.16L14.84,12.75L10.59,17H6.8L10.29,4H13.71L15.17,9.43L16.8,7.79L15.43,2.67L12,1.75M11.25,5V14.75L12.75,13.25V5H11.25M19.79,7.8L16.96,10.63L16.25,9.92L14.84,11.34L17.66,14.16L19.08,12.75L18.37,12.04L21.2,9.21L19.79,7.8Z' /%3E%3C/svg%3E");
	}
	.notes::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L6.04,7.5L12,10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V9.21L13,12.58V19.29L19,15.91Z' /%3E%3C/svg%3E");
	}
	.obstacles::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3,16H12V21H3V16M2,10H8V15H2V10M9,10H15V15H9V10M16,10H22V15H16V10M13,16H21V21H13V16M3,4H11V9H3V4M12,4H21V9H12V4Z' /%3E%3C/svg%3E");
	}
	.bsr, .download, .beatsaver, .leaderboards {
		display: inline-block;
		height: 17px;
		margin: 0 0 -2px 4px;
		appearance: none;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		&::before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			background: center no-repeat;
		}
	}
	.bsr::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M4,2H22V14L17,19H13L10,22H7V19H2V6L4,2M20,13V4H6V16H9V19L12,16H17L20,13M15,7H17V12H15V7M12,7V12H10V7H12Z' /%3E%3C/svg%3E");
	}
	.download::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z' /%3E%3C/svg%3E");
	}
	.beatsaver::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
	}
	.leaderboards::before {
		background-image: url("https://scoresaber.com/imports/images/ScoreSaberLogo.svg");
	}
}

@media (max-width: 600px) {
	body {
		overflow: visible;
	}

	.title {
		font-size: 40px;
	}

	.history {
		position: relative;
		margin-top: 16px;
		padding: 0 16px;
	}

	.list {
		height: auto;
		max-height: 450px;
	}
	.list-content {
		.element {
			flex-flow: row wrap;
			justify-content: space-between;
		}
		.left {
			flex: 1 1 100%;
		}
		.middle {
			margin: 0;
			text-align-last: left;
		}
		.right {
			min-width: 0;
		}
		.duration { margin-left: 0; }
		.notes, .obstacles {
			display: none;
		}
	}

}
