{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", "tab", { "SwitchCase": 1 }],
    "no-tabs": "off",
    "no-var": "error",
    "no-unused-vars": ["warn", { "ignoreRestSiblings": true }],
    "no-console": "off",
    "no-alert": "error",
    "no-multi-spaces": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-case-declarations": "off",
    "no-extra-boolean-cast": "off",
    "keyword-spacing": ["off", { "before": true, "after": true }],
    "space-infix-ops": "off",
    "quotes": ["off", "single", { "avoidEscape": true }],
    "arrow-spacing": ["off", { "before": true, "after": true }],
    "object-curly-spacing": ["off", "always"],
    "array-bracket-spacing": ["off", "never"],
    "prefer-const": "off",
    "one-var": ["off", "never"]
  },
  "globals": {}
}
